<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX Demo</title>
</head>

<h1>Quote: <%=quote%></h1>
<body>
    <form class="testButtonForm" action="/test" method="post">
        <input type="text" name="quote" id="value-name" placeholder="Set quote of the day">
        <button type="submit" name="submitButton" class="submitButton" value="beyond">Submit</button>
    </form>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/js/bookmarkLogic.js"></script>
</html>